numpy
matplotlib
seaborn
ipywidgets
pandas
openpyxl
yahoo_fin
requests
plotly
statsmodels
geopandas
contextily
folium
mapclassify
scipy
dash
jupyter-dash
altair
altair_latimes
vega_datasets
bokeh
jupyter_server_proxy
